
.game-container{
    position: relative;
    margin: 0 auto;
    background-color: lightslategray;
}

.game-container:after{
    content: 'To start and control the game, use arrows keys';
    font-size: 14px;
    display: block;
    position: absolute;
    min-width: 260px;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.playground {
    position: absolute;
    background-color: white;
}

.game-food{
    position: absolute;
    background: url('../images/heart.svg');
}

.game-snake{
    position: absolute;
    background-color: green;
}